* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar {
    background: rgb(0, 100, 0);
    text-align: center;
}

.menu-bar ul {

    display: inline-flex;
    list-style-type: none;

}

.menu-bar ul li {

    width: 120px;
    margin: 15px;
    padding: 12px;
    position: relative;
}

.menu-bar ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menu-bar .fa {
    color: #ffffff;
    margin-right: 3px;
}

.active, .menu-bar ul li:hover {
    background: #079f07;
    border-radius: 3px;

}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 12px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    border-bottom: 1px dotted #fff;
    background: transparent;
    width: 140px;
    padding: 10px;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {

    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {

    color: #34fd5d;
}

.fa-angle-right{
    float: right;
}

.sub-menu-2{
    display: none;
}

.hover_me:hover .sub-menu-2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 130px;
   background: rgb(0,100,0);
}

img{
	display: block;
	margin: 100px auto;
	background:#fff;
	padding: 3px;
	border: 2px solid #000;
	border-radius: 50%;
}